<!DOCTYPE html>
<html>
  <head>
    <title>Field Changes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class=" " action="/edit" method="post">
        <input type="hidden" name="field_id " value="<%= field_id%>">
        <label for="size">Size:</label>
        <input type="text" name="size" value=" ">
        <br>



      <input type="hidden" name="field_id " value="<%= field_id%>">
      <label for="soil_type">Soil Type:</label>
      <input type="text" name="soil_type" value=" ">
      <br>
      <button type="submit">Done</button>

    </form>

  </body>
</html>
