
.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    float: right;
    
  }

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(15, 15, 15);
    color: white;
  }
  
  .navbar a.logo {
    background-color: #095dbe;
    color: white;
  }

  .cropActivity {
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif; 
      float: left;
      width: 100%;
  }

.background {
    background: rgb(99, 95, 95);
    width: 100%;
    height: 800px;
}
.field1 {
    background: grey;
    margin: 10px auto;
    border-radius: 45px;
    width: 45%;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
   float: left;
}

.field1-name {
    font-family: fantasy;
    font-size: 30x; 
    color: black;
    padding: 10px;
    text-align: center;
}

.field1_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18x; 
    color: black;
    padding: 10px;
    text-align: center;
}

.field2 {
    background: grey;
    margin: 10px auto;
    border-radius: 45px;
    width: 45%;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    float: right;
}

.field2-name {
    font-family: fantasy;
    font-size: 20px; 
    color: black;
    padding: 10px;
    text-align: center;
}

.field2_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18x; 
    color: black;
    padding: 10px;
    text-align: center;
}