body {
    background-color: #ffffff;
}



.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(240, 236, 236) !important;
}

.nav-link {
    margin-left: 350px;
    margin-right: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: black !important;
}

.nav-link:hover {
     color: #d1011b !important;
     font-weight: bold;
 }

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}

.vstack {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}

.button {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 4px solid #4CAF50;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    box-shadow:2px 2px 5px black;
    position:fixed;
    right:20px;
    bottom:20px;
    outline:blue;
    border:none;
    cursor:pointer;
}
.button1:hover {
     background-color: #4CAF50;
     color: white;
 }

.btn-primary {
    position: absolute;
    right: 10px;
    display:flex;
    width: 50px;
    height: 30px;
}