/*#temp{
	border: 2px;
	border-style: solid;
	border-color: #d1011b;
}*/


body{
  background-color: #ffffff;
}


.header{
  margin-top: 20px;
  margin-left: 30px;
}


.navbar{
	position: fixed;
	z-index: 1;
	width: 100%;
	margin-top: 50px;
	background-color: rgb(240, 236, 236) !important;
}
.nav-link{
	margin-left: 450px;
	margin-right: 200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: black !important;
}
.nav-link:hover{
	color: #d1011b!important;
	font-weight: bold;
}


.sub-header{
  margin-top: 160px;
  text-align: center;
}


input{
  width: 130px;
}


hr{
  margin-left: 800px;
  margin-right: 800px;
}


.add_submit{
  margin-left: 20px;
}

.add_cancel{
  margin-left: 20px;
}


.add_box{
  position: absolute;
  height: 420px;
  width: 410px;
  border:0px solid black;
  border-radius:25px;
  background-color: rgba(148, 230, 255, 0.623);
  z-index: -1;
  top: 290px;
  left: 750px;
}
